@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html,body{
    height: 100vh;
    width: 100vw;
}


body{
    background: url('pacote-d013/imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    
}

main{
    position: relative;
    height: 100vh;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background-image: url('pacote-d013/imagens/frame-iphone.png');
    background-repeat: no-repeat;
}




#tela{
    background-color: rgb(68, 33, 33);
    position: relative;
    top: 80px;
    left: 17px;
    
    width: 275px;
    height: 472px;
    border: 1px solid black
}

section#redes{
    text-align: right;
}

section#redes a{
    width: 60px;
    height: 60px;
}

section#redes img{
    width: 70px;
    margin: 10px;
    border-radius: 100px;
    box-sizing: border-box;
    padding: 10px;
    
}
section#redes img:hover{
    border: 2px solid gold;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    transition: transform 1s, border 1s;
    
}

